<div fxLayout="row wrap" fxLayoutGap="16px">
    <mat-card class="top-m-32 rounded-8 card-class"  *ngFor="let profile of profiles"
    fxFlex="20"
    fxFlex.md="20"
    fxFlex.sm="50"
    fxFlex.xs="100">
        <mat-card-content class="p-8">
            <img mat-card-image [src]="profile.imagePortraitUrl">
            <div fxLayout="column" class="max-width">
                <div fxLayout="row" class="max-width">
                    <span>{{profile.name}}</span>
                    <div fxLayout="row" fxLayoutAlign="end center" fxFlex>
                        <a *ngIf="!!profile.linkedIn" (click)="goToLinkedIn(profile.linkedIn)"> <img class="link-button" src="\assets\icons\linkedin.svg"/></a>
                        <a *ngIf="!!profile.gitHub" (click)="goToGithub(profile.gitHub)"> <img class="link-button" src="\assets\icons\github.svg"/></a>
                        <a *ngIf="!!profile.twitter" (click)="goToTwitter(profile.twitter)"> <img class="link-button" src="\assets\icons\twitter.svg"/></a>
                    </div>
                </div>
                <span>Office: {{profile.office}}</span>
            </div>
        </mat-card-content>
    </mat-card>
</div>



