<div fxLayout="column" fxLayoutGap="64px">
    <app-toolbar (sortAction)='sortBy($event)' (filterAction)='filterBy($event)'></app-toolbar>
    <app-profile-grid style="padding-left: 32px;" [profiles]="filteredProfiles"></app-profile-grid>
    <button class="load-more" fxFlex="5" fxLayoutAlign="center center" (click)="loadMore()">Load more</button>
</div>