/* You can add global styles to this file, and also import other style files */

$primary-color: lightgreen;
$secondary-color: blue;
$tertiary-color: lightskyblue;


html, body { height: 100%; width: 100%; background-color:$tertiary-color; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a:hover {
    cursor: pointer
}

.max-width {
    width: 100%;
}

span {
    color: $secondary-color;
}

input {
    color: $secondary-color;
}

input:focus {
    color: $secondary-color;
}

button {
    background-color: $tertiary-color;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.load-more {
    background-color: $primary-color;
    margin-bottom: 16px;
    max-width: 128px;
    align-self: center;
}

button:hover {
    cursor: pointer
}

.mat-card {
    background-color: $primary-color;
}

.mat-toolbar {
    background-color: $primary-color;
    color: $primary-color;
}

.mat-input-element {
    color: $secondary-color !important;
}



