<mat-toolbar class='mat-toolbar' fxHide.lt-md="true">
    <mat-toolbar-row>
      <span>Ninja Profile Page</span>
    </mat-toolbar-row>
    <mat-toolbar-row fxShow="true"  fxLayoutGap="16px">
      <span>Sort by:</span>
      <a *ngFor="let type of SortTypes" (click)="sortBy(type)">
        <span [ngClass]="{'selected-sort': type.isSelected}">{{type.type}}</span>
      </a>
    </mat-toolbar-row>
    <mat-toolbar-row fxShow="true" fxLayoutGap="16px">
      <span>Filter:</span>
      <mat-form-field>
        <mat-label>Name or Office</mat-label>
        <input matInput (keyup)="onKey($event)" placeholder="Anders" [formControl]="filterValue">
      </mat-form-field>
      <button mat-raised-button (click)='filter()'>Filter</button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar class='app-toolbar-sticky' fxHide.gt-sm="true">
  <mat-toolbar-row>
    <span>Ninja Profile Page</span>
  </mat-toolbar-row>
  <mat-toolbar-row  fxShow="true"  fxLayoutGap="16px">
    <span>Sort by:</span>
    <a *ngFor="let type of SortTypes" (click)="sortBy(type)">
      <span [ngClass]="{'selected-sort': type.isSelected}">{{type.type}}</span>
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row fxShow="true"  fxLayoutGap="16px">
    <span>Filter:</span>
    <mat-form-field>
      <mat-label>Name or Office</mat-label>
      <input matInput (keyup)="onKey($event)" placeholder="Anders" [formControl]="filterValue">
    </mat-form-field>
    <button mat-raised-button (click)='filter()'>Filter</button>
  </mat-toolbar-row>
</mat-toolbar>

